@import "tailwindcss";

@import "../devlink/global.css";

.body {
    display: block;
    flex-flow: column;
    color: rgb(0, 0, 0);
    font-size: 16px;
    line-height: 1.4;
}

@media screen and (max-width: 479px) {
    .body {
        overflow-y: auto;
    }
}

@layer base, components, utilities, devlink;
